/* base */

body {
    margin: 0;
}


/* nav-bar styles */

.nav-links {
    background-color: #ff6500;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.links {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.links a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}


/* side-bar styles */

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0060b1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    display: block;
    padding: 16px 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.side-nav .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 0px;
}

.account {
    box-sizing: border-box;
}

.account,
.news,
.offers {
    border-bottom: 1px solid #80b0d8;
    border-radius: 1px;
}

.account,
.news,
.offers,
.come-be {
    padding: 1rem 0px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #0060b1;
}

.kabum-form {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 512px;
}

.form-search {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 16px;
}

#input-search {
    font-size: 0.875rem;
    line-height: 1.125rem;
    position: relative;
    width: 100%;
    height: 1.85rem;
    border: none;
    border-radius: 0.25rem;
    padding: 3px 16px;
    color: rgb(66, 70, 77);
}

.kabum-logo {
    width: 140px;
}

.sidebar-icon {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

p.login-register-p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255, 0.8);
}

p.login-register-p a {
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255, 0.8);
}

p.login-register-p a:hover {
    text-decoration: underline;
}

.icons-header {
    display: flex;
    gap: 0.75rem;
}

.icons-header i.material-icons {
    width: 2.25rem;
    height: 2.25rem;
    color: rgb(255, 255, 255, 0.8);
}